body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: xx-large;
  background-image: url(./background1.png);
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}

.input {
  border: 2px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 15em;
  height: 3em;
}

select {
  margin-left: .5rem;
  height: 3em;
  width: 5em;
  font-size: medium;
  cursor: pointer;
  border-radius: .3em;
  border: 1px solid #333;
}

.equals {
  font-weight: bold;
  padding-left: 150px;
  font-size: 3rem;
}